<div class="container">

    <!-- Heading Row -->
    <br>
    <h1 class="text-center">Welcome on your profile <%= @user.name %> 😎 </h1>
    <div class="row align-items-center my-4">
      <div class="col-lg-5">
        <%= image_tag('dog_avatar.jpg', :size => '350x250') %>
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-sm-5">
        <h1 class="font-weight-light">Your description :</h1>
        <p> User description to write down here ! (user.description) </p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
       <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <h3 class="text-white m-0">Your ongoing bookings : </h3>
      </div>
    </div>
    <div class="text-center">
      <% @user.bookings.each do |booking| %>
      <ul>
        <li>
      <i class="fas fa-check-double"></i>
      <%= booking.start_at %> - <%= booking.end_at %> - Status : <i class="fas fa-user-clock"></i> <%= booking.status %>
      </li>
      </ul> <% end %></div>


    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <h3 class="text-white m-0">Your animals on rent : </h3>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
             <% @user.animals.each do |animal| %>
            <h1 class="card-title"><%= animal.name %></h1>
            <p class="card-text"><%= animal.description %></p>
            <%= image_tag('husky.jpg', :size => '300x200') %>
          </div>
          <div class="card-footer">
            <%= link_to "More details", animal_path(animal), class: 'btn btn-outline-secondary', method: :get %>
          </div>
        </div>
        <% end %>
      </div>


    </div>
    <!-- /.row -->
  <%= link_to "List of all animals", animals_path(@animal), class: 'btn btn-outline-danger', method: :get %>

  </div>
