<div class="content" >
  <div class="cards">
    <% @animals.each do |animal| %>
      <div>
        <%= link_to animal_path(animal) do %>
          <div class="card-trip">
            <%= image_tag 'dog_avatar.jpg' %>
             <div class="card-trip-infos">
              <div class="card-text">
                <h2><%= animal.name %></h2>
                <p><%= animal.description %></p>
              </div>
              <div class="card-trip-pricing">
                <h2>07€/h</h2>
              </div>
               <img src="https://www.dogingtonpost.com/wp-content/uploads/2017/02/GoldenUnited.png" class="card-trip-user avatar-bordered">
            </div>
         </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
