<div class="content" >
  <div class="container cards">
    <div class="row">
      <% @animals.each do |animal| %>
        <div class='col-4'>
          <%= link_to animal_path(animal) do %>
            <div class="card-trip">
              <%= cl_image_tag animal.photo %>
               <div class="card-trip-infos">
                <div class="card-text">
                  <h2><%= animal.name %></h2>
                  <p><%= animal.description %></p>
                </div>
                 <div class="card-trip-pricing">
                  <h2>07€/h</h2>
                </div>
                <%= cl_image_tag(animal.user.photo, :size => '45X45', class: "avatar-bordered") %>
               </div>
            </div>
          <% end %>
         </div>
      <% end %>
    </div>
  </div>

  <div
    id="map"
    style="width: 100%; height: 87vh; flex: 1"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
