<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @animal.name %></h1>
<<<<<<< HEAD

      <%= link_to "Back to all animals", root_path %>
=======
      <p><%= @animal.description %></p>
      <p><%= @animal.species %></p>
      <%= link_to "Back to all animals", animals_path %>
>>>>>>> 8eac7b74261d0182b4abe50f88e0a887d27428d0
    </div>
  </div>
